.showKeeper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.keeperCard{
    display: flex;
    flex-direction: column;
    background: rgb(238, 196, 196);
    padding: 2rem;
    border-radius: 20px;
    width: 300px;
    min-height: 250px;
    margin: 2rem;
    position: relative;
    box-shadow: rgba(187, 26, 26, 0.5) 10px 10px 20px;
}

.title {
    margin-bottom: 1rem;
    font-family: 'Texturina', serif;
    color: rgb(5, 6, 7);
    display: flex;
    align-items: center;
    
}

.descriptionBox{
    display: flex;
    width: 100%;
    resize: none;
    flex: 1;
    color: rgb(17, 22, 20);
    font-family: 'Kanit', sans-serif;
    outline: none;
    background: rgb(248, 217, 217);
    border: none;
    /* border-radius: 20px; */
}

.deleteIcon {
    color: rgb(173, 3, 3);
    position: absolute;
    right: 30px;
    font-size: 1rem;
    cursor: pointer;
}
