.header {
    width: 100%;
    display: flex;
    padding: 0.75rem;
    background: rgb(218, 109, 109);
    color: rgb(248, 248, 248);
    justify-content: center;
    font-family: 'Texturina', serif;
    box-shadow: rgba(231, 8, 8, 0.7) 0px 5px 10px;
}